body {counter-reset: figures;}

article.report {
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.report__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.report__metadata {
    margin-bottom: 3rem;
}

.report__authors {
    display: block;
    font-size: 1.1rem;
}

.report__date {
    font-size: 1.1rem;
    margin-top: 0;
}

.report__contents-table ol {
    counter-reset: item;
}

.report__contents-table ol li {
    list-style: none;
}

.report__contents-table__listing > ol > li {
    margin-bottom: 1rem;
}

.report__contents-table__listing > ol > li > ol {
    margin-top: .3rem;
}

.report__contents-table ol li > a {
    text-decoration: none;
    color: #000;
    border: 2px solid transparent;
    padding: .1rem .3rem;
}

.report__contents-table ol li > a:hover,
.report__contents-table ol li > a:focus,
.report__contents-table ol li > a:active {
    border: 2px solid var(--primary-color);
}

.report__contents-table ol li::before {
    content: counters(item, ".") ". "; 
    counter-increment: item;
}

.report__main-content {
    margin-top: 5rem;
}

.report__main-content > section {
    margin-top: 3rem;
}

.report__main-content > section:first-child {
    margin-top: 0;
}

.report__bibliography {
    margin-top: 5rem;
}

.subsection {
    padding-left: 2rem;
}

article.report figure {
    position: relative;
    margin: 2.5rem 0;
}

article.report figure > div {
    width: 50%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

article.report figure img {
    width: 100%;
}

article.report figure img.small-unconstrained {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: unset;
}

article.report figure figcaption {
    font-size: .9rem;
    margin-top: .5rem;
    text-align: center;
    counter-increment: figures;
}

article.report figure figcaption::before {
  content: 'Figure ' counter(figures) ': ';
}

article.report section#section__glossary ul > li {
    margin-bottom: .5rem;
}
